.bg-no-available-en {
  background: no-repeat center url(../images/not-available-en.svg);
}
.bg-no-available-es {
  background: no-repeat center url(../images/not-available-es.svg);
}
p.description + label {
  padding-top: 14px;
}
img.attachment-60x60 {
  width: 60px;
  height: auto;
}
.thumbnail.column-thumbnail,
.manage-column.column-thumbnail {
  width: 70px;
}
