#fh {
  position: fixed;
  z-index: 9999999;
  left: 0;
  bottom: 0;
  color: black;
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  line-height: 33px;
}
#fh * {
  box-sizing: border-box;
}
#fh .fh-collapse,
#fh .fh-info-window,
#fh .fh-breakpoint {
  background-color: #333;
  border-right: 1px solid #666;
  color: white;
  display: block;
  float: left;
  font-size: 12px;
  height: 32px;
}
#fh .fh-breakpoint {
  min-width: 40px;
}
#fh .fh-breakpoint > div {
  height: 32px;
}
#fh .fh-collapse {
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}
#fh .fh-collapse > span:first-child {
  display: none;
}
#fh .fh-collapse > span:last-child {
  display: block;
}
#fh .fh-collapse.fh-collapsed {
  content: '&laquo;';
}
#fh .fh-collapse.fh-collapsed > span:first-child {
  display: block;
}
#fh .fh-collapse.fh-collapsed > span:last-child {
  display: none;
}
#fh .fh-info-window {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
}
#fh .fh-info-window > div {
  text-align: left;
  line-height: 15px;
}
#fh .bs-breakpoint > div {
  width: 50px;
}
#fh .fh-collapse.fh-hidden,
#fh .fh-info-window.fh-hidden,
#fh .fh-breakpoint.fh-hidden {
  display: none !important;
}
