.not-available-en-cover {
  background: no-repeat center url(../images/image-not-available-en.svg);
  background-size: cover;
}
.not-available-es-cover {
  background: no-repeat center url(../images/image-not-available-es.svg);
  background-size: cover;
}
