/** 
 * WordPress Generated Classes
 * Source: http://codex.wordpress.org/CSS
 */
.hentry {
  /* Text meant only for screen readers. */
}
.hentry .alignnone {
  margin: 5px 20px 20px 0;
}
.hentry .aligncenter,
.hentry div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.hentry .alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.hentry .alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.hentry .aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.hentry a img.alignright {
  float: right;
  max-width: 100%;
  height: auto;
}
.hentry a img.alignnone {
  max-width: 100%;
  height: auto;
}
.hentry a img.alignleft {
  float: left;
  max-width: 100%;
  height: auto;
}
.hentry a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hentry a img.alignright,
.hentry a img.alignnone,
.hentry a img.alignleft,
.hentry a img.aligncenter {
  max-width: 100%;
  height: auto;
}
.hentry .wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 100%;
  padding: 5px 3px 10px;
  text-align: center;
  clear: both;
}
.hentry .wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.hentry .wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.hentry .wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.hentry .wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.hentry .wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
.hentry .screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.hentry .screen-reader-text:hover,
.hentry .screen-reader-text:active,
.hentry .screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}
