@import "_not-available.less";
@import "_admin-featured.less";

p.description {
  + label {
    padding-top: 14px;
  }
}

img.attachment-60x60 {
  width: 60px;
  height: auto;
}

.thumbnail, 
.manage-column {
  &.column-thumbnail{
    width: 63px;
  }
}

.featured, 
.manage-column {
  &.column-featured{
    a {
      cursor: pointer;
      &:focus {
        box-shadow: none;
      }
    }
    .spinner {
      float: none;
      margin: auto;
    }
    width: 22px;
  }
}